<form action="/edit" method="post">
    <input type="text" name="name" id="name" value="<%= task.name %>">
    <input type="text" name="id" id="id" value="<%= task._id %>" hidden>
    <button type="submit">update</button>
</form>