<div id="sort">
    <% if (page == null ) { %>
        <a href="/?page=1&sort=-1">Newest-Oldest</a>
        <a href="/?page=1&sort=1">Oldest-Newest</a>
    <% } else {%>
        <a href="/?page=<%=page%>&sort=-1">Newest-Oldest</a>
        <a href="/?page=<%=page%>&sort=1">Oldest-Newest</a>

    <% } %> 
</div>